:root {
    --primary: #1F7D35;
    --primary-hover: hsl(106, 45%, 65%);                
    --secondary: #1F7D35;
    --secondary-hover: hsl(133, 75%, 48%);
    --aura: #51c56e80;
    --background: hsl(0, 0%, 99%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background);
    font-family: Mulish;
}

h1 {
    color: var(--secondary);
}

.background {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-image: url(../img/dois-colegas-em-um-fabrica.jpg);
    opacity: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

/* Restante das regras específicas para content.css */