<form action="/action-panel" method="POST" class="my-form">
    <div class="login-welcome-row">
    </div>
    <div class="text-field">
        <label for="email">Usuário:</label>
        <input
            aria-label="Email"
            type="email"
            id="email"
            name="email"
            placeholder="Sua Matrícula"
            required
            value="{{email}}" <!-- Adicione esta linha para definir o valor do email -->
        >
        <img
            alt="Email Icon"
            title="Email Icon"
            src="{{emailIcon}}" <!-- Adicione esta linha para definir o caminho da imagem do ícone de e-mail -->
        >
    </div>
    <div class="text-field">
        <label for="password">Senha:</label>
        <input
            id="password"
            type="password"
            aria-label="Password"
            name="password"
            placeholder="Sua senha"
            required
        >
        <img
            alt="Password Icon"
            title="Password Icon"
            src="{{passwordIcon}}" <!-- Adicione esta linha para definir o caminho da imagem do ícone de senha -->
        >
    </div>    
    <input type="submit" class="my-form__button" value="Login">
</form>
