
<form action="/action-panel/form_request_materials" method="post">
  <p>ID REquisição<input type="text" name="requisicao_id" required></p>
  <p>Material<input type="text" name="material_id" required></p>
  <p>Quantidade Requisitada<input type="number" name="quantidade_requisitada" required></p>
  <p>Observações<textarea name="observacoes"></textarea></p>
  <button type="submit">Enviar Requisição</button>
</form>
