<h1>Orders in Progress</h1>

{{#each requisicao}}
  <h1>{{usuario_solicitante_nome}}</h1>
  <h3>{{usuario_solicitante_id}}</h3>
  <h3>{{usuario_solicitante_cdc}}</h3>
  <p>{{observacao_text}}</p>
  <hr>
{{/each}}
