.my-form {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 16px;
    background-color: var(--background);
    border: 1px solid var(--primary);
    border-radius: 16px;
    box-shadow: 0 20px 60px var(--aura);
    min-width: 280px;
    max-width: 460px;
    width: 100%;
    padding: 32px;
}

.login-welcome {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.login-welcome-row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.my-form__button {
    background-color: var(--primary);
    color: var(--background);
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    line-height: 50px;
    outline: none;
    font-size: 18px;
    letter-spacing: .025em;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    min-height: 50px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.text-field input {
    color: var(--secondary);
    font-size: 16px;
    font-weight: 500;
    max-width: 100%;
    width: 100%;
    border: 1px solid var(--secondary);
    height: 50px;
    letter-spacing: .03rem;
    background-color: transparent;
    outline: none;
    transition: .25s;
    border-radius: 8px;
    text-indent: 20px;
    margin-top: 8px;
}

/* Restante das regras específicas para header.css */