<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/assets/styles/header.css">
  <link rel="stylesheet" type="text/css" href="/assets/styles/content.css">
  <link rel="stylesheet" type="text/css" href="/assets/styles/footer.css">
</head>
<body>
  <!--HEADER-->

  <div>
    <header>

    </header>
  </div>

  <main>

    <!--CONTENT-->

    <!--MAIN-->
    <div class="backgroud"></div>
    <div class="centering">
      <form class="my-form">
        <div class="login-welcome-row">
          <img 
            class="login-welcome"
            src="/assets/img/logo_cmaa.jpg" alt="Logo CMAA" 
            alt="banner-cmaa"
          >
        </div>
        <div class="text-field">
          <label for="username">Usuário:</label>
          <input
            aria-label="Usuário"
            type="text"
            id="username"
            name="username"
            placeholder="Sua Matrícula"
            required
          >
          <img
            alt="Username Icon"
            title="Username Icon"
            src="/assets/icons/username.svg"
          >
        </div>
        <div class="text-field">
          <label for="password">Senha:</label>
          <input
            id="password"
            type="password"
            aria-label="Password"
            name="password"
            placeholder="Sua senha"
            required
          >
          <img
            alt="Password Icon"
            title="Password Icon"
            src="/assets/icons/password.svg"
          >
        </div>

        <input type="submit" class="my-form__button" value="Login" >

      </form>
    </div>
  </main>
  </div>

  <!--FOOTER-->

  <div>
    <footer>
      <p>Website em desenvolvimento. Todos os direitos reservados.</p>
    </footer>
  </div>

  <!--SCRIPTS-->
  <script type="text/javascript" src="/assets/scripts/main.js"></script>

</body>
</html>
